<html>
    <head>
        <title>Krishna's blog</title>
    </head>
    <body>
            <div>
                <h1><a href="/">Krishna's Blog</a></h1>
            </div>
    
            <div>
                <p>published: 26.08.2019, 13:40</p>
                <h2><a href="">My first post</a></h2>
                <p>Krishna is very merciful.</p>
            </div>
    
            <div>
                <p>published: 26.08.2019, 13:41</p>
                <h2><a href="">My second post</a></h2>
                <p>Lord Krishna can dissipate the lamentation of an ignorant man</p>
            </div>
        </body>
    </html>